In [1]:
import pandas as pd
import numpy as np
from sklearn.cross_validation  import train_test_split

In [2]:
train = pd.read_csv("train.csv",sep = ',')
store = pd.read_csv("store.csv",sep = ',')
test = pd.read_csv("test.csv",sep = ',')

/Library/Python/2.7/site-packages/pandas-0.16.0-py2.7-macosx-10.10-intel.egg/pandas/io/parsers.py:1164: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
def toBinary(featureCol, df):
    values = set(df[featureCol].unique())
    newCol = [featureCol + val for val in values]
    for val in values:
        df[featureCol + val] = df[featureCol].map(lambda x: 1 if x == val else 0)
    return newCol


def build_features(features,data):
    data.fillna(0,inplace = True)
    data.loc[data.Open.isnull(),'Open']=1
    features.extend(['Store','CompetitionDistance','CompetitionOpenSinceMonth','CompetitionOpenSinceYear','Promo','Promo2','Promo2SinceYear'])
    features.append('SchoolHoliday')
    data['SchoolHoliday'] = data['SchoolHoliday'].astype(float)
    features.append('StateHoliday')
    data.loc[data['StateHoliday'] == 'a','StateHoliday']='1'
    data.loc[data['StateHoliday'] == 'b','StateHoliday']='2'
    data.loc[data['StateHoliday'] == 'c','StateHoliday']='3'
    data['StateHoliday'] = data['StateHoliday'].astype(float)
    train['Date'] = pd.to_datetime(train['Date'])
    test['Date'] = pd.to_datetime(test['Date'])
    features.append('DayOfWeek')
    features.append('Month')
    features.append('Day')
    features.append('Year')
    data['Year'] = data.Date.dt.year
    data['Month'] = data.Date.dt.month
    data['Day'] = data.Date.dt.day
    data['DayOfWeek'] = data.Date.dt.dayofweek
    for x in ['a','b','c','d']:
        features.append('StoreType' + x)
        data['StoreType' + x] = data['StoreType'].map(lambda y: 1 if y==x else 0)
    newCol = toBinary('Assortment',data)
    features +=newCol

In [4]:
train.fillna(1, inplace = True)
test.fillna(1, inplace = True)

In [5]:
train = train[train["Open"]!=0]
train = train[train["Sales"]>0]

In [6]:
print len(train)
print list(train.columns)

844338
['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday']

In [7]:
train = pd.merge(train,store, on='Store')
test = pd.merge(test,store,on = 'Store')

In [8]:
print train.columns
print train.head()

Index([u'Store', u'DayOfWeek', u'Date', u'Sales', u'Customers', u'Open', u'Promo', u'StateHoliday', u'SchoolHoliday', u'StoreType', u'Assortment', u'CompetitionDistance', u'CompetitionOpenSinceMonth', u'CompetitionOpenSinceYear', u'Promo2', u'Promo2SinceWeek', u'Promo2SinceYear', u'PromoInterval'], dtype='object')
   Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5  2015-07-31   5263        555     1      1            0
1      1          4  2015-07-30   5020        546     1      1            0
2      1          3  2015-07-29   4782        523     1      1            0
3      1          2  2015-07-28   5011        560     1      1            0
4      1          1  2015-07-27   6102        612     1      1            0

   SchoolHoliday StoreType Assortment  CompetitionDistance  \
0              1         c          a                 1270
1              1         c          a                 1270
2              1         c          a                 1270
3              1         c          a                 1270
4              1         c          a                 1270

   CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  \
0                          9                      2008       0
1                          9                      2008       0
2                          9                      2008       0
3                          9                      2008       0
4                          9                      2008       0

   Promo2SinceWeek  Promo2SinceYear PromoInterval
0              NaN              NaN           NaN
1              NaN              NaN           NaN
2              NaN              NaN           NaN
3              NaN              NaN           NaN
4              NaN              NaN           NaN

In [9]:
features = []
build_features(features,train)
build_features([],test)

In [10]:
X_train, X_valid = train_test_split(train, test_size = 0.012)
y_train = X_train.Sales
y_valid = X_valid.Sales

In [11]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
model.fit(X_train[features],y_train)

In [ ]:
print train.head()

In [120]:
#print X_train["DayOfWeek"]

200321    0
819018    5
51212     3
464021    5
590091    3
814207    2
148514    5
182389    3
91153     5
651035    4
769023    1
669944    4
421978    2
428374    5
78150     2
787624    1
629808    3
659992    4
63522     4
21051     1
333647    5
361946    2
667343    1
777490    5
623319    0
696277    3
521260    3
250782    2
619729    4
383047    2
         ..
19576     5
284295    1
441243    1
363781    1
656307    5
465185    5
219043    2
31564     5
264570    2
362889    0
518575    2
149366    5
342858    4
648284    2
676777    5
210053    3
554370    2
425304    2
452717    4
35065     2
459717    2
382158    3
452003    5
169559    4
115242    3
37603     2
74741     1
165080    4
605922    5
157173    2
Name: DayOfWeek, dtype: int64

In [98]:
print X_train

        Store  DayOfWeek       Date  Sales  Customers  Open  Promo  \
414977    549          1 2013-04-09   5046        592     1      1
546662    725          3 2015-02-12   5602        566     1      0
680519    901          3 2013-01-17   5616        579     1      0
419495    555          1 2013-04-23   5526        504     1      1
429577    568          3 2013-12-05   6936        512     1      1
800456   1060          2 2014-12-17  10638        982     1      1
714567    947          4 2014-08-22   7304       1038     1      1
450917    596          3 2013-11-21   4280        619     1      1
546635    725          0 2015-03-16   6946        671     1      1
96355     128          3 2014-04-10   6859        549     1      0
116929    156          5 2013-10-05   2797        311     1      0
77489     103          4 2014-06-13   4190        421     1      0
352237    466          0 2013-10-28   4763        536     1      0
771064   1021          3 2013-11-14   7127        939     1      0
199507    265          5 2013-09-21   2325        255     1      0
500847    663          4 2013-07-26   3532        624     1      0
88816     118          4 2013-08-09   6682        662     1      0
492804    653          1 2015-01-06   7728        578     1      1
148058    198          1 2013-05-21   2355        361     1      0
203578    270          1 2013-03-12   7441       1009     1      0
427480    565          1 2013-02-12   5705        724     1      0
772515   1023          2 2014-03-26   4143        462     1      0
154853    207          3 2013-08-15  12634       1483     1      1
677835    898          0 2014-09-08   5103        674     1      0
128469    172          3 2015-04-02   9255       1018     1      1
760763   1007          5 2013-06-15   7144        870     1      0
224639    300          4 2015-01-16   7277        879     1      1
463723    613          4 2013-04-26   5824        952     1      1
594750    787          5 2013-02-02   7632        914     1      0
617616    818          4 2014-10-24   6563        672     1      1
...       ...        ...        ...    ...        ...   ...    ...
510433    676          1 2014-01-07   6994       1574     1      1
331341    439          1 2013-06-25   4100        587     1      0
45919      61          5 2013-03-09   4362        573     1      0
489303    648          5 2014-03-15   6413        635     1      0
720960    955          5 2014-01-25   4160        448     1      0
168514    225          0 2014-03-17   7669        737     1      1
44864      60          0 2014-02-10   6950        687     1      0
197700    263          0 2015-02-16   5315        439     1      1
301507    400          2 2015-06-24   6792       1048     1      0
148242    199          4 2015-05-08   9222        694     1      1
355866    471          2 2014-03-19   7215        557     1      1
613164    812          2 2014-07-30   7335        831     1      1
616077    816          2 2014-09-24   3757        578     1      0
561649    744          0 2013-11-18   9787       1043     1      1
142751    191          5 2013-05-25   8280        764     1      0
788644   1044          5 2013-06-15   5708        844     1      0
778432   1031          4 2014-10-10   4266        417     1      1
525277    695          0 2013-01-07   9318        793     1      1
116242    155          0 2013-06-17   9350        853     1      1
12971      17          4 2013-07-12   5837        780     1      0
573387    759          0 2013-02-18  11024       1122     1      1
644414    853          5 2014-04-05   8025        894     1      0
231672    309          1 2014-06-10   5390        540     1      0
360952    478          3 2014-12-04   8981        822     1      1
701403    930          2 2015-01-07   6130       1037     1      1
532738    706          1 2015-07-28   7108        578     1      1
423665    561          1 2014-11-25   7214        703     1      1
94581     126          1 2015-07-07   4220        437     1      0
601742    796          0 2013-03-04  10312        920     1      1
192036    256          0 2015-04-13   9428       1141     1      1

        StateHoliday  SchoolHoliday StoreType     ...       Year  Month  Day  \
414977             0              0         a     ...       2013      4    9
546662             0              0         d     ...       2015      2   12
680519             0              0         a     ...       2013      1   17
419495             0              0         d     ...       2013      4   23
429577             0              0         d     ...       2013     12    5
800456             0              0         a     ...       2014     12   17
714567             0              1         a     ...       2014      8   22
450917             0              0         c     ...       2013     11   21
546635             0              0         d     ...       2015      3   16
96355              0              0         d     ...       2014      4   10
116929             0              0         a     ...       2013     10    5
77489              0              0         d     ...       2014      6   13
352237             0              1         a     ...       2013     10   28
771064             0              0         a     ...       2013     11   14
199507             0              0         a     ...       2013      9   21
500847             0              1         a     ...       2013      7   26
88816              0              0         d     ...       2013      8    9
492804             0              1         d     ...       2015      1    6
148058             0              0         a     ...       2013      5   21
203578             0              0         a     ...       2013      3   12
427480             0              0         a     ...       2013      2   12
772515             0              0         c     ...       2014      3   26
154853             0              0         a     ...       2013      8   15
677835             0              0         a     ...       2014      9    8
128469             0              1         a     ...       2015      4    2
760763             0              0         c     ...       2013      6   15
224639             0              0         a     ...       2015      1   16
463723             0              0         c     ...       2013      4   26
594750             0              0         c     ...       2013      2    2
617616             0              1         d     ...       2014     10   24
...              ...            ...       ...     ...        ...    ...  ...
510433             0              1         b     ...       2014      1    7
331341             0              1         a     ...       2013      6   25
45919              0              0         a     ...       2013      3    9
489303             0              0         d     ...       2014      3   15
720960             0              0         d     ...       2014      1   25
168514             0              0         d     ...       2014      3   17
44864              0              0         d     ...       2014      2   10
197700             0              1         a     ...       2015      2   16
301507             0              0         a     ...       2015      6   24
148242             0              0         d     ...       2015      5    8
355866             0              0         d     ...       2014      3   19
613164             0              1         d     ...       2014      7   30
616077             0              0         c     ...       2014      9   24
561649             0              0         a     ...       2013     11   18
142751             0              0         a     ...       2013      5   25
788644             0              0         c     ...       2013      6   15
778432             0              1         d     ...       2014     10   10
525277             0              0         a     ...       2013      1    7
116242             0              0         d     ...       2013      6   17
12971              0              0         a     ...       2013      7   12
573387             0              0         a     ...       2013      2   18
644414             0              0         a     ...       2014      4    5
231672             0              1         d     ...       2014      6   10
360952             0              0         d     ...       2014     12    4
701403             0              0         a     ...       2015      1    7
532738             0              0         d     ...       2015      7   28
423665             0              0         d     ...       2014     11   25
94581              0              1         d     ...       2015      7    7
601742             0              0         a     ...       2013      3    4
192036             0              0         a     ...       2015      4   13

        StoreTypea  StoreTypeb  StoreTypec  StoreTyped Assortmenta  \
414977           1           0           0           0           0
546662           0           0           0           1           0
680519           1           0           0           0           0
419495           0           0           0           1           1
429577           0           0           0           1           0
800456           1           0           0           0           0
714567           1           0           0           0           1
450917           0           0           1           0           1
546635           0           0           0           1           0
96355            0           0           0           1           0
116929           1           0           0           0           1
77489            0           0           0           1           0
352237           1           0           0           0           0
771064           1           0           0           0           1
199507           1           0           0           0           1
500847           1           0           0           0           0
88816            0           0           0           1           0
492804           0           0           0           1           0
148058           1           0           0           0           1
203578           1           0           0           0           1
427480           1           0           0           0           0
772515           0           0           1           0           1
154853           1           0           0           0           1
677835           1           0           0           0           1
128469           1           0           0           0           1
760763           0           0           1           0           0
224639           1           0           0           0           0
463723           0           0           1           0           1
594750           0           0           1           0           0
617616           0           0           0           1           1
...            ...         ...         ...         ...         ...
510433           0           1           0           0           0
331341           1           0           0           0           1
45919            1           0           0           0           0
489303           0           0           0           1           1
720960           0           0           0           1           0
168514           0           0           0           1           1
44864            0           0           0           1           0
197700           1           0           0           0           0
301507           1           0           0           0           1
148242           0           0           0           1           0
355866           0           0           0           1           1
613164           0           0           0           1           1
616077           0           0           1           0           0
561649           1           0           0           0           1
142751           1           0           0           0           1
788644           0           0           1           0           1
778432           0           0           0           1           1
525277           1           0           0           0           1
116242           0           0           0           1           1
12971            1           0           0           0           1
573387           1           0           0           0           1
644414           1           0           0           0           1
231672           0           0           0           1           1
360952           0           0           0           1           0
701403           1           0           0           0           1
532738           0           0           0           1           1
423665           0           0           0           1           1
94581            0           0           0           1           1
601742           1           0           0           0           0
192036           1           0           0           0           0

        Assortmentc  Assortmentb
414977            1            0
546662            1            0
680519            1            0
419495            0            0
429577            1            0
800456            1            0
714567            0            0
450917            0            0
546635            1            0
96355             1            0
116929            0            0
77489             1            0
352237            1            0
771064            0            0
199507            0            0
500847            1            0
88816             1            0
492804            1            0
148058            0            0
203578            0            0
427480            1            0
772515            0            0
154853            0            0
677835            0            0
128469            0            0
760763            1            0
224639            1            0
463723            0            0
594750            1            0
617616            0            0
...             ...          ...
510433            0            1
331341            0            0
45919             1            0
489303            0            0
720960            1            0
168514            0            0
44864             1            0
197700            1            0
301507            0            0
148242            1            0
355866            0            0
613164            0            0
616077            1            0
561649            0            0
142751            0            0
788644            0            0
778432            0            0
525277            0            0
116242            0            0
12971             0            0
573387            0            0
644414            0            0
231672            0            0
360952            1            0
701403            0            0
532738            0            0
423665            0            0
94581             0            0
601742            1            0
192036            1            0

[834205 rows x 28 columns]

In [105]:
print store.columns

Index([u'Store', u'StoreType', u'Assortment', u'CompetitionDistance', u'CompetitionOpenSinceMonth', u'CompetitionOpenSinceYear', u'Promo2', u'Promo2SinceWeek', u'Promo2SinceYear', u'PromoInterval'], dtype='object')